@import "../../Common/variables.scss";

.signIn-page{
    background-color:$background-base-color;
    min-height: $screen-view;
    h1{
        color: $text-color;
        letter-spacing: 2px;
        max-width: 80%;
        margin: auto;
        padding: 1em 0em 0.5em 0em;
        font-size: 2em;
    }

    .or{
        padding: 10px;
        color: $text-color;
    }

}