//colors
$background-base-color: #1c1c1c;
$border-color: #545554;
$text-color: #fdfdfd;
$background-dark-color: #121212;

//text typography
$font-family-playfair: "Playfair Display", serif;
$font-family-source: "Source Sans Pro", sans-serif;
$font-family-poppins: "Poppins", sans-serif;

//screen size
$mobile: 770px;
$laptop: 950px;
$smaller-phone: 500px;

//height
$screen-view: 100vh;
